* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: karrik;
  font-size: 5rem;
  padding-bottom: 20px;
}

@font-face {
  font-family: 'karrik';
  src: url('./fonts/Karrik-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'karrik';
  src: url('./fonts/Karrik-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
